[buildout]
extends = ../openssl/buildout.cfg
find-links += https://github.com/lawcen/ResilientLog/tarball/master#egg=resilientLog
       	      https://github.com/wallix/pylogsparser/zipball/master#egg=pylogsparser-0.5

parts = resilientLog
      	mysolr

[resilientLog]
recipe = zc.recipe.egg
eggs = 
       resilientLog
       pymongo
       solrpy
       python-dateutil
       twisted
       httplib2
       pylogsparser >= 0.5

extra-paths =
	    ${buildout:directory}/parts/site-packages/

[mysolr]
recipe = collective.recipe.patch
egg = mysolr == 0.7.1
patches = ${:_profile_base_location_}/mysolr.patch